@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --color-blue-mf-50: #e9f2ff;
    --color-blue-mf-100: #d7e8ff;
    --color-blue-mf-200: #b7d3ff;
    --color-blue-mf-300: #8cb6ff;
    --color-blue-mf-400: #5f8cff;
    --color-blue-mf-500: #3a63ff;
    --color-blue-mf-600: #1837ff;
    --color-blue-mf-700: #0e28f4;
    --color-blue-mf-800: #0f26c4;
    --color-blue-mf-900: #162a99;
    --color-blue-mf-950: #0b134a;
}

#canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    outline: none;
}
